<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1"
         metadata-complete="true">


    <display-name>GOS</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
        <welcome-file>adminAccount.jsp</welcome-file>
    </welcome-file-list>

    <!-- Allow Tomcat to serve static images -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/images/*</url-pattern>
    </servlet-mapping>
    
    <!-- Admin Functions -->
    <!-- Admin Login Function -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.gos.servlet.AdminLoginServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/adminLoginServlet</url-pattern>
    </servlet-mapping>
    
    <!-- Admin Logout Function -->
    <servlet>
	    <servlet-name>LogoutServlet</servlet-name>
	    <servlet-class>com.gos.servlet.AdminLogoutServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>LogoutServlet</servlet-name>
	    <url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping> 
		
	<!-- Update Admin Function -->  
   	<servlet>
	    <servlet-name>AdminUpdate</servlet-name>
	    <servlet-class>com.gos.servlet.AdminUpdateServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>AdminUpdate</servlet-name>
	    <url-pattern>/updateAdmin</url-pattern>
	</servlet-mapping>   
	
	<!-- Manage Admin Function -->  
   	<servlet>
	    <servlet-name>AdminManage</servlet-name>
	    <servlet-class>com.gos.servlet.AdminServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>AdminManage</servlet-name>
	    <url-pattern>/manageAdmin</url-pattern>
	</servlet-mapping>   
	
	<!-- Add Admin Function -->  
   	<servlet>
	    <servlet-name>AdminAdd</servlet-name>
	    <servlet-class>com.gos.servlet.AdminCreateServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>AdminAdd</servlet-name>
	    <url-pattern>/addAdmin</url-pattern>
	</servlet-mapping>  
	
	<!-- Delete Admin Function -->
	<servlet>
	    <servlet-name>DeleteAdmin</servlet-name>
	    <servlet-class>com.gos.servlet.AdminDeleteServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>DeleteAdmin</servlet-name>
	    <url-pattern>/deleteAdmin</url-pattern>
	</servlet-mapping>
	
	<!-- Admin Update Admin Function -->
	<servlet>
	    <servlet-name>adminUpdateAdmin</servlet-name>
	    <servlet-class>com.gos.servlet.AdminUpdateAdminServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>adminUpdateAdmin</servlet-name>
	    <url-pattern>/adminUpdateAdmin</url-pattern>
	</servlet-mapping>
	
	
	
	
	<!-- Manage Inventory Manager Function -->  
   	<servlet>
	    <servlet-name>AdminInventoryManager</servlet-name>
	    <servlet-class>com.gos.servlet.AdminInventoryManagerServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>AdminInventoryManager</servlet-name>
	    <url-pattern>/manageInventoryManager</url-pattern>
	</servlet-mapping>  
	
	<!-- Add Inventory Manager Function -->  
   	<servlet>
	    <servlet-name>AdminCreateInventoryManager</servlet-name>
	    <servlet-class>com.gos.servlet.AdminCreateInventoryManagerServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>AdminCreateInventoryManager</servlet-name>
	    <url-pattern>/addInventoryManager</url-pattern>
	</servlet-mapping>  
	
	<!-- Update Inventory Manager Function -->
	<servlet>
	    <servlet-name>updateInventoryManager</servlet-name>
	    <servlet-class>com.gos.servlet.AdminUpdateInventoryManagerServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>updateInventoryManager</servlet-name>
	    <url-pattern>/updateInventoryManager</url-pattern>
	</servlet-mapping>

	
	<!-- Delete Inventory Manager Function -->
	<servlet>
	    <servlet-name>DeleteInventoryManager</servlet-name>
	    <servlet-class>com.gos.servlet.AdminDeleteInventoryManagerServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>DeleteInventoryManager</servlet-name>
	    <url-pattern>/deleteInventoryManager</url-pattern>
	</servlet-mapping>
		
</web-app>
	
	